.wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.slide-container,
.slide {
  height: 100%;
  width: 100%;
}

.slide {
  object-fit: cover;
  object-position: right;

  display: none;
}

.slide.active {
  display: block;
}

.prev-arrow-container,
.next-arrow-container {
  background-color: #ffffff9e;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  position: absolute;
  right: 8.25vw;
  z-index: 1;
}

.prev-arrow-container {
  top: 20px;
}
.next-arrow-container {
  bottom: 20px;
}

.thumbnails-container {
  /* position: relative; */
  height: 100vh;
  width: 25vw;
  border-left: 10px solid gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -23px 0px 32px rgba(0, 0, 0, 0.701);
}

.slide-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: calc(100vh / 7);
}

.slide-small {
  object-fit: cover;
  object-position: right;
  width: 100%;
  height: 100%;
}

.slide-small:not(.active) {
  filter: grayscale(50%) blur(2px);
}

.slide-small.active,
.slide-small:hover {
  box-shadow: 2px 5px 23px -4px rgba(255, 255, 255, 0.667);
  transform: scale(1.1);
  z-index: 1;
}
